{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'Learning management system' %}{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Password Change' %}</li>
    </ol>
</nav>

<h2 class="mb-4"><i data-lucide="key" class="me-2 text-primary"></i>{% trans 'Security Settings' %}</h2>

{% include 'snippets/messages.html' %}

<div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">
        <div class="card p-4">
            <h5 class="fw-bold mb-3 d-flex align-items-center text-primary">
                <i data-lucide="lock" class="me-2"></i>{% trans 'Change Password' %}
            </h5>
            <div class="card-body p-0">
                <form action="" method="POST">{% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-end mt-4">
                        <button class="btn btn-primary w-100" type="submit">{% trans 'Change Password' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
